@import "tailwindcss";

@keyframes expand {
    100% {
        transform: scale(100);
        opacity: 100;
    }
}

.expand-square {
    position: absolute;
    animation: expand 4s ease-out forwards;
}

.square1 {
    width: 6rem;
    height: 6rem;
    background-color: #3b82f6;
    animation-delay: 0s;
}

.square2 {
    width: 6rem;
    height: 6rem;
    background-color: #60a5fa;
    animation-delay: 0.5s;
}

.square3 {
    width: 6rem;
    height: 6rem;
    background-color: #93c5fd;
    animation-delay: 1s;
}